---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import StatCounters from "../components/StatCounters.astro";
import ChooseYourPath from "../components/ChooseYourPath.astro";
import FeaturedListings from "../components/FeaturedListings.astro";
import RecentDeals from "../components/RecentDeals.astro";
import DealStories from "../components/DealStories.astro";
import HowItWorks from "../components/HowItWorks.astro";
import AboutSection from "../components/AboutSection.astro";
import FAQ from "../components/FAQ.astro";
import CTABanner from "../components/CTABanner.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <StatCounters />
    <ChooseYourPath />
    <FeaturedListings />
    <RecentDeals />
    <HowItWorks />
    <DealStories />
    <AboutSection />
    <FAQ />
    <CTABanner />
  </main>
  <Footer />
</Base>
